body{
    display: flex;
    
    justify-content: center;
    align-items: center;
}

#container{
    border:solid gray  1px;
    display: flex;
    flex-direction: column;
    max-height: 700px;
    max-width: 480px;
    
}

#screen{
    border:solid gray  1px;
    margin: 10px;
    height: 100px;
    display: flex;
    justify-content: end;
}

    
#input{  
    display: flex;
    flex-wrap: wrap;
}

.numbers{
    height: 60px;
    width: 80px;
    margin-left: 10px;
    margin-bottom: 10px;

}

.operators{
    height: 60px;
    width: 90px;
    margin-left: 10px;
}

.functions{
    height: 60px;
    width: 90px;
    margin-left: 10px;
}

#equals_to{
    height: 60px;
    width: 280px;
    margin-left: 10px;
}

#screenText{
    align-self: last baseline;
}

#result{
    
    align-self: baseline;
    display: flex;
}

