body{
    display: flex;
    
    justify-content: center;
    align-items: center;
    background-color: black;
    
}

#container{
    border:solid gray  1px;
    display: flex;
    flex-direction: column;
    max-height: 700px;
    max-width: 480px;
    background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
}

#screen{
    border:solid gray  1px;
    margin: 10px;
    height: 100px;
    display: flex;
    justify-content: end;
    color: white;
}

    
#input{  
    display: flex;
    flex-wrap: wrap;
}

.numbers{
    height: 60px;
    width: 80px;
    margin-left: 10px;
    margin-bottom: 10px;

}

.operators{
    height: 60px;
    width: 90px;
    margin-left: 10px;
}

.functions{
    height: 60px;
    width: 90px;
    margin-left: 10px;
}

#equals_to{
    height: 60px;
    width: 280px;
    margin-left: 10px;
}

#screenText{
    align-self: last baseline;
    color: rgb(189, 183, 183);
    margin-right: 10px;
}

#result{
    
    align-self: baseline;
    display: flex;
    position: absolute;
    color: lightgray;
    font-weight: 900;
    margin-right: 10px;
}

div{
    border-radius: 10px;
}

button{
    border-radius: 20px;
    color:white;
}
#screen{
  
  background-color: #1a1a1b;
  color: #00d4ff;
  border: none;
  box-shadow: inset 0 0 10px rgba(0,0,0,0.5); /* Digital look */
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: #080606;

}

#clear_all{
    background-color: #ff4d4d;
}
#eraser{
    background-color: #ff4d4d;
}
.operators{
    background-color: rgba(0, 0, 0, 0.666);
}
#equals_to{
    background-color: rgba(0, 0, 0, 0.666);
}